/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fdfdfd;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.speechbutton {
	background-color:#44c767;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:12px;
	font-weight:bold;
	padding: 5px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-top: 10px;
}
.speechbutton:hover {
	background-color:#5cbf2a;
}
.speechbutton:active {
	position:relative;
	top:1px;
}

.tab-buttons {
    background-color: ghostwhite;
    font-size: 14px;
    color: orangered;
    margin: 5px 8px;
    border-bottom: 2px solid orangered;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 50px;
    width: calc(100%);
    border-radius: 5px;
}

.tab-buttons:active {
    filter: brightness(110%);
    border: 1px solid orangered;
}


/**
* Classi keypad
*/
.buttons-kp {
    display: flex;
    font-family: Helvetica;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 180px;
    border: 1px solid #5fa2dd;
    border-top: none;
    padding: 0px 15px 20px 15px;
    /* border-bottom-right-radius: 15px; */
    border-left: none;
    border-bottom: none;
    /* border-bottom-left-radius: 15px; */
    /* font-family: 'Courier New', Courier, monospace; */
}

.button-kp {
    border-bottom: 2px solid slategray;
    /* border-top: 1px solid #b2cde4; */
    border-radius: 12px;
    color: slategray;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    margin: 8px;
    text-align: center;
    width: 44px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.button-kp:active {
    background-color: #0d47a1;
    color: #FFFFFF;
}

.button-kp-del {
    background: url(../img/delete.svg) no-repeat center center;
    background-size: 40% auto;
    color: transparent;
}

.button-kp-del:active {
    background: #0d47a1 url(../img/delete-white.svg) no-repeat center center;
    background-size: 40% auto;
    color: transparent;
}

#keypad-cmp #display-kp {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    border: 1px solid #5fa2dd;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom: none;
    /* border-top-left-radius: 15px; */
    border-left: none;
    box-shadow: -2px 2px 7px lightgrey;
}

#keypad-cmp #display-kp #numerals {
	font-weight: regular;
	position: relative;
	z-index: 20;
	line-height: 4rem;
	height: 4rem;
	display: block;
}

#keypad-cmp #display-kp #numerals .numeral {
	position: relative;
	opacity: 0;
	top: -20px;
    transition: top 100ms linear, opacity 150ms linear;
    color: #0d47a1 !important;
}

#keypad-cmp #display-kp #numerals .displayed {
	opacity: 1;
	top: 0px;
}

#keypad-cmp #display-kp #numerals .hide {
	opacity: 0;
	top: 25px;
}

#keypad-cmp #display-kp #numerals .decplayed {
	position: relative;
	font-size: .45em;
	opacity: 0;
	top: -1em;
	color: rgba(13,71,161, 0.4);
	padding: 0 0 0 1px;
	transition: top 100ms linear, opacity 150ms linear;
}

#keypad-cmp #display-kp #numerals .decimal {
	position: relative;
	font-size: .45em;
	top: -.8em;
	color: rgba(13,71,161, 0.4);
	padding: 0 0 0 1px;
	transition: top 100ms linear, opacity 150ms linear;
}

#keypad-cmp #display-kp #numerals .smalldisplayed {
	position: relative;
	font-size: .45em;
	top: -.8em;
	color: #0d47a1;
	opacity: 1;
	padding: 0 0 0 1px;
}

#keypad-cmp #display-kp #numerals .smallhide {
	opacity: 0;
	top: -.6em;
}

/* #keypad-cmp #display-kp #numerals:before {
	content: '$';
	position: relative;
	font-size: .4em;
	top: -.95em;
	margin: 0 3px 0 0;
} */

.jiggle{
    animation-duration: 100ms;
    animation-name: jiggler;
}

@keyframes jiggler {
    0% { left: 0px; }
    33% { left: 5px; }
    66% { left: -5px; }
    100% { left: 0px; }
}

